@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

    /*font-family: 'Oswald', sans-serif;*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: smash;
    src: url(../fonts/smash.ttf);
}

@mixin tablet{
    @media only screen and (min-width: 480px) {
        @content;
    }
}

@mixin desktop{
    @media only screen and (min-width: 1000px) {
        @content;
    }
}

@mixin bordes( $radio){
    border-radius: $radio;
}

@mixin escalado ($escalado){
    transform: scale($escalado);
}

@mixin rotado ($rotar){
    transform: rotate($rotar);
}

$color_font : white;
$color_hover: red;
$color_fondo: rgba(255, 0, 0, 0.288);
$color_logo: rgb(253, 143, 0);
$fuente_principal : 'Oswald', sans-serif;

    /*la pagina esta echa desde una resolucion 320px mobile pasando por los distinotos breakpoint 480px tablet y de 1000px desktop*/
body{
    min-width: 80%;
    height: auto;
}

p , h2 , label {
    color: $color_font;
    font-family: $fuente_principal;
}
    /*contenedor de toda la pagina*/
.container {
    gap: 10px;
    display: grid;
    grid-template: 
        "header"
        "nav" 
        "main" 
        "sidebar" 
        "footer" ;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
}
.header {
    grid-area: header;
    background-color: $color_fondo;
    @include bordes(10px);
    .logo { 
        color:$color_logo;
        font-family: smash;
        text-transform: uppercase;
        text-align: center;
        font-size: 26px;
        padding: 10px;
    } 
}
    /*barra de navegacion de bootsrap*/
.nav{
    grid-area: nav;
    @include bordes(10px);
    .nav-link{
        color: $color_hover !important;
    } 
    .nav-link:hover {
        color:$color_logo !important;
    }   
}

.main {
    grid-area: main;
    width: 100%;
    height: auto;
    margin-top: 30px;
    h2{
        text-align: center;
    }
    section{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        height: auto;
        justify-items: center; 
    }
    .foto {
        height: 230px;
        width: auto;
        padding: 10px;
        align-items: center;
    }
    .verde{
        @include bordes(10px);
        background-color: rgba(0, 255, 13, 0.288);
        padding: 10px;
    }
    .rojo{
        @include bordes(10px);
        background-color: $color_fondo;
        padding: 10px;
    }
    @include tablet{
        iframe{
            width: 450px;
            height: 300px;
        }
    }
}

.sidebar {
    grid-area: sidebar;
    background-color: $color_fondo;
    @include bordes(10px);
    min-height: auto;
    padding: 10px;
    margin-top: 30px;
}

@include tablet{
    aside{
        text-align: center;
        }
}

.footer {
    grid-area: footer;
    height: auto;
    text-align: center;
    margin-bottom: auto;
    background-color: $color_fondo;
    @include bordes(10px);
    a {
        color: black;
        padding: 5px;
        letter-spacing: 10px;
        font-size: 30px;
        text-decoration: none;    
    }
    a:hover {
        color: $color_hover; 
    }
    i{
        transition: 1s;
    }
    i:hover{
        @include rotado(360deg); 
    }
}
    /*galeria se encuentra en la pargina nis trabajos*/
.galeria{
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-gap: 10px;
    .item{
        border: 3px solid $color_fondo;
        background-size: cover;
        background-position: center;
        transition: 1000ms;
    }  
    .item:hover {  
        @include escalado(1.2);
        transition: 1000ms;
    }
    .img1{
        background-image: url(../img/galeria/img1.jpg);
    }
    .img2{
        background-image: url(../img/galeria/img2.jpg);
    }
    .img3{
        background-image: url(../img/galeria/img3.jpg);
    }
    .img4{
        background-image: url(../img/galeria/img4.jpg);
    }
    .img5{
        background-image: url(../img/galeria/img5.jpg);
    }
    @include tablet{
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: repeat(3, 100px);
        }
}
    /*formulario se encuentra en la pagina contacto*/
form {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    @include bordes(20px);
    text-align: center;
    margin-top: 30px;
    .input-group {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    input, textarea , button{
        padding: 2px 2px ;
        @include bordes(25px);
        margin-bottom: 5px;
        background-color: $color_fondo;
        border: 2px solid #f0faf1;
        color: $color_hover;
        outline: none;
    }
    .btn {
        font-size: 16px;
        color: #ffffff;
        border: 0;
        @include bordes(25px);
        background-color: $color_fondo;
        box-shadow: 0 0 20px rgb(255, 0, 0);
        cursor: pointer;
    } 
    .btn:hover { 
        background-color: $color_hover;
        border: 2px solid #f0faf1;
    }
}
    /*resposive a 1000px desktop*/
@include desktop{
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);   
    }
    .header{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .nav{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .main{
        height: 700px;
        grid-column: 1/2;
        grid-row: 3/4;
        .principal{
            display: flex;
        }
        .foto{
            height: 300px;
        }
        iframe{
            width: 550px;
            height: 500px;
        }
        div{
            padding-top: 30px;
        }
    }
    .sidebar{
        grid-column: 2/3;
        grid-row: 3/4;
        height: 700px;
    }
    .footer{
        grid-column: 1/3;
        grid-row: 4/5;
    }       
    aside img{
        margin-top: 200px;
    }
    .galeria{
        height: 700px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 200px ); 
        .img1{
            grid-column: 1/2;
            grid-row: 1/4;
        }   
        .img2{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .img3{
            grid-column: 3/5;
            grid-row: 1/2;
        }
        .img4{
            grid-column: 2/3;
            grid-row: 2/4;
        }
        .img5{
        grid-column: 3/5;
        grid-row: 2/4; 
        } 
    }
}
