@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/*font-family: 'Oswald', sans-serif;*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: smash;
    src: url(../fonts/smash.ttf);
}

html{
    min-width: 100%;
}

body{
    min-width: 80%;
}

p , h2 , label {
    color: white;
    font-family: 'Oswald', sans-serif;
}

h2{
    text-align: center;
}

.logo { 
    color:rgb(253, 143, 0);
    font-family: smash;
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    padding: 10px;
}

.container {
    gap: 10px;
    display: grid;
    grid-template: 
        "header"
        "nav" 
        "main" 
        "sidebar" 
        "footer" ;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
}

.header {
    grid-area: header;
    background-color: rgba(255, 0, 0, 0.288);
    border-radius: 10px;
}

.nav{
    grid-area: nav;
    border-radius: 10px;
}

.nav-link{
    color: red !important;
}

.nav-link:hover {
    color:rgb(253, 143, 0) !important;
}

.main {
    grid-area: main;
    width: 100%;
}

.foto {
    height: 230px;
    width: auto;
    padding: 10px;
    align-items: center;
}

section{
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    height: auto;
    justify-items: center;
}
.sidebar {
    grid-area: sidebar;
    background-color: rgba(255, 0, 0, 0.288);
    border-radius: 10px;
    min-height: 500px;
    padding: 10px;
}

.footer {
    grid-area: footer;
    height: auto;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.288);
    border-radius: 10px;
}

.footer a {
    color: black;
    padding: 5px;
    letter-spacing: 10px;
    font-size: 30px;
    text-decoration: none;
}
.footer a:hover {
    color: red;
}
.galeria{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-gap: 10px;
}

.item{
    border: 3px solid rgba(255, 0, 0, 0.288);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    
}
.item:hover{
    filter: none;
}
.img1{
    background-image: url(../img/galeria/img1.jpg);
    filter: grayscale();
}
.img2{
    background-image: url(../img/galeria/img2.jpg);
    filter: grayscale();
}
.img3{
    background-image: url(../img/galeria/img3.jpg);
    filter: grayscale();
}
.img4{
    background-image: url(../img/galeria/img4.jpg);
    filter: grayscale(); 
}
.img5{
    background-image: url(../img/galeria/img5.jpg);
    filter: grayscale();  
}

form {

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;     
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input, textarea , button{
    padding: 2px 2px ;
    border-radius: 25px;
    margin-bottom: 5px;
    background-color: rgba(255, 0, 0, 0.288);
    border: 2px solid #f0faf1;
    color: #ff0000;
    outline: none;
}

.btn {
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    background-color: rgba(255, 0, 0, 0.288);
    box-shadow: 0 0 20px rgb(255, 0, 0);
    cursor: pointer;
}

.btn:hover { 
    background-color: #ff0000;
    border: 2px solid #f0faf1;
}

@media only screen and ( min-width: 480px) {
    .galeria{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(3, 200px);
    } 
}

@media only screen and ( min-width: 1000px) {
    .principal{
    display: flex;
    }
    .main{
        height: 700px;
    }
    .foto{
        height: 300px;
    }
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);   
    }
    .header{
        grid-column: 1/3;
        grid-row: 1/2;
    }   
    .nav{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .main{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .sidebar{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .footer{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 200px );
    }
    .img1{
        grid-column: 1/2;
        grid-row: 1/4;
    }
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .img3{
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .img4{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .img5{
        grid-column: 3/5;
        grid-row: 2/4; 
    } 
}
